.personal-info__item {
    display: flex;
    width: 100%;
}

.personal-info__item-title {
    color: #2f1b15;
    font-family: "PT Sans";
    font-size: 22px;
    font-weight: 700;
    line-height: 49.83px;

}

.personal-info__item {
    color: #231f20;
    font-family: "Courier New PSMT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}