.personal-info {
    margin-bottom: 70px;
}

.personal-info__item {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
}

.personal-info__item-title {
    color: #2f1b15;
    font-family: "PT Sans";
    font-size: 22px;
    font-weight: 700;
    line-height: 49.83px;
    white-space: nowrap;
    margin-right: 20px;

}

.personal-info__input {
    color: #231f20;
    font-family: "Courier New PSMT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    background-color: transparent;
    border: none;
    background-image: url(./../../../img/personal-info/input-underline.png);
    // background-repeat: no-repeat;
    background-position: -16px 12px;
    background-size: cover;
    background-repeat: round;
    padding-bottom: 20px;
    padding-left: 15px;

    &::-webkit-input-placeholder {
        color: #231f20;
        font-family: "Courier New PSMT";
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
    }
}